
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div class="form-group">
      <textarea class="form-control" name="meal[directions_attributes][<%= index %>][step]" id="meal_directions_attributes_<%= index %>_step" placeholder="Step <%= index + 1 %>" ></textarea>
    </div>
  </div>
</div>

