<div class="row">
    <div class="col-md-3 col-md-offset-3 col-sm-6 col-xs-6">
      <div class="form-group">
         <input class="form-control amount" type="text" name="meal[ingredients_attributes][<%= index %>][amount]" id="meal_ingredients_attributes_<%= index %>_amount" placeholder="Amount">
      </div>
    </div>

     <div class="col-md-3 col-sm-6 col-xs-6">  
       <div class="form-group">
         <input class="form-control" type="text" name="meal[ingredients_attributes][<%= index %>][name]" id="meal_ingredients_attributes_<%= index %>_name" placeholder="Name">
       </div>
     </div>
  </div> 

