
@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";


//-------- GENERAL ----------//
* {
  color: $grey;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color        : $darkgrey;
  text-align   : center;
  font-family  : 'Quicksand', sans-serif;
  font-weight  : 300;
  font-size    : 48px;
  margin-bottom: 30px;
}

a, {
  color: $green;
  &:hover {
    color: $green;
  }
}

i {
  color: $green;
}

.button-wrapper {
  text-align: center;
}

.form-control:focus {
  border-color: #A4C773;
}

.alert-alert {
  @extend .alert-danger;
}

.alert-notice {
  @extend .alert-info;
}




//-------- SIGN UP/IN FORMS ----------//

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
  &:hover {
    -webkit-box-shadow:0 0 0 50px white inset;
  }
  &:focus {
    -webkit-box-shadow:0 0 0 50px white inset;
  }
}

.form-signin,
.form-signup {
  max-width: 330px;
}

.form-signin,
.form-signup {
  padding: 15px;
  margin: 0 auto;
  .form-links,
  .devise-links {
    margin: 20px 0;
    text-align: center;
    a {
      color: $blue;
      &:first-child {
        padding: 0;
      }
      padding-left: 10px;
    }
  }
  .checkbox {
   margin-bottom: 10px;
   font-weight: normal;
  }
}

.form-signin,
.form-signup {
  .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    &:focus {
      z-index: 2;
    }
  }
}

.form-signin {
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.form-signup {
  input,
  textarea {
    margin-bottom: 5px;
  }
}





//--------- NAVBAR ----------//

a.navbar-brand:hover {
  opacity: .8;
}

.logo {
  height    : 28px;
  margin-top: -4px;
}

.navbar-default .navbar-nav li,
.navbar-default .logout {
  a.active {
    color: #fff;
    background-color: $green;
  }
  a:hover {
    color: #fff;
    background-color: $green;
  }
}



//--------- PAGINATION -----------//
.pagination {
  .active span,
  .active span:hover {
    background-color: $blue;
    border-color    : $blue;
  }
  li a,
  li a:hover {
    color: $blue;
  }
}

.pagination-wrapper {
  text-align: center;
}



//--------- PAGE - INDEX --------//
.index-wrapper div.meal-wrapper {
  padding: 20px 0;
  border-top: 1px solid #eee;
  &:first-child {
    border: none;
  }
}

.meal-name {
  color: $green;
  font-weight: 300;
  margin-top : 10px;
}

.meal-picture-wrapper {
  margin-top  : 15px;
  text-align: center;
}

.meal-picture-index-page {
  height: 100px;
  border-radius: 5px;
}

.badge {
  background-color: $blue;
  &:hover {
    background-color: #b4c5db;
  }
}

.tag-list {
  margin: 20px 0;
  li {
    display: inline-block;
    margin: 2px;
  }
}





//-------- PARTIAL - MEALS/FORM ---------//

h5.form-header {
  display    : inline-block;
  font-weight: bold;
}

.radio-button {
  font-weight : 400;
  padding-left: 10px;
}

#more-ingredients-button,
#more-directions-button {
  i {
    font-size: 16px;
    color    : $green;
  }
}

#submit-button-wrapper {
  text-align   : center;
  margin-top   : 10px;
  margin-bottom: 50px;
}

#error-messages-wrapper {
  padding: 0;
  i {
    color: $red;
  }
}

.error-messages {
  color: $red;
  text-align  : center;
  list-style  : none;
  padding-left: 0;
}

.field_with_errors {
  display: inline;
}






//-------- PAGE - SHOW ---------//

.jumbotron {
  opacity : .5;
  position: relative;
  background-size: cover;
  background-position: center;
  h1 {
    position: center;
    color: #fff;
    text-shadow: 1px 0 0  $greyoutline, 
                 0 -1px 0 $greyoutline, 
                 0 1px 0  $greyoutline, 
                 -1px 0 0 $greyoutline;
  }
}

.show-page-buttons {
  .btn {
    border-radius: 50%;
    border-color : $blue;
    &:hover {
      border-color: $blue;
    }
    i {
      color: $blue;
    }
  }
}

.jumbotron-buttons {
  position: absolute;
  padding : 3px 8px;
  bottom  : 3px;
  right   : 3px;
}

#description-wrapper {
  margin-bottom: 40px;
}

.description {
  text-align   : center;
  .description-paragraph {
    font-size: 17px;
  }
  .description-buttons {
    display      : inline-block;
    padding      : 8px;
    margin-bottom: 10px;
    border       : 1px solid $blue;
    border-radius: 2px;
    i {
      color: $blue;
    }
  }
}

.ingredients-header,
.directions-header {
  font-size: 20px;
  color    : #a9a8a8;
  display  : inline;
}

.ingredients-modal-button {
  font-size  : 13px;
  padding    : 3px 6px;
  margin-left: 5px;
  margin-top : -5px;
  opacity    : .7;
}

#ingredients,
#directions {
  margin-top: 10px;
}

#ingredients {
  list-style   : none;
  text-align   : left;
  padding-left : 0;
  margin-bottom: 30px;
}

.ingredient-li {
  margin-bottom: 10px;
}

#directions {
  padding-left : 14px;
  text-align   : left;
  list-style   : none;
  margin-bottom: 30px;
  li {
    margin-bottom: 5px;
  }
  .direction-counter {
    color       : $green;
    display     : inline;
    margin-left : -15px;
    margin-right: 4px;
  }
  .direction-text {
    display: inline;
  }
}

.meal-picture-show-page {
  max-height   : 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cushion {
  margin-left: 20px;
}

.nutrition-button-list {
  padding-left: 0;
  padding     : 10px;
  li {
    list-style   : none;
    margin-bottom: 10px;
    span {
      font-weight  : bolder;
      padding-right: 1px;
    }
  }
}


#nutritionModal {
  .modal-dialog,
  .modal-content {
    margin: 0 auto;
    width : 300px;
  }
}






//-------- PAGE - ENTRIES ---------//

.pager a {
  color: $blue;
}

.week-wrapper {
  display: flex;
  border-top   : 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height   : 200px;
  margin-bottom: 30px;
}
.day-wrapper {
  position: relative;
  padding-bottom: 160px;
  border-right  : 1px solid #ddd;
  align-items   : stretch;
  &:first-child {
    border-left: 1px solid #ddd;
  }
  h4 {
    display  : inline-block;
    color    : #a9a8a8;
    font-size: 22px;
    padding-right: 10px;
  }
  h5 {
    font-size  : 17px;
    font-weight: 300;
    margin     : 20px 0 8px;
  }
  li {
    font-weight: 300;
    font-size  : 15px;
    color: #838383;
  }
}

.day-wrapper ul {
  list-style  : none;
  padding-left: 0;
}

.modal-link {
  margin-top: 7px;
  font-size : 16px;
  i {
    color: $blue;
    &:hover {
      opacity: .7;
    }
  }
}

.breakfast-list,
.lunch-list,
.dinner-list,
.snack-list {
  li, a, i {
    color    : $green;
  }
  li {
    border : 1px solid #f9f9f9;
    padding: 5px;
    background-color: #fbfbfb;
    border-radius   : 3px;
    margin-bottom   : 4px;
  }
  li:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    border-color    : #f4f4f4;
    .nutrition li {
      background-color: #f9f9f9;
    }
  }
}

.toggleable {
  display: none;
  .nutrition {
    li {
    border   : none;
    font-size: 14px;
    }
    i {
      padding   : 2px 5px;
      font-size : 15px;
      text-align: center;
      color     : $blue;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.day-nutrition {
  width     : 85%;
  position  : absolute;
  bottom    : 0;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  li {
    font-size: 14px;
    span {
      color: $green;
    }
  }
}





//-------- MODAL ---------//

.modal {
  text-align: center;
  padding   : 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height : 100%;
  vertical-align: middle;
  margin-right  : -4px;
}

.modal-dialog {
  display       : inline-block;
  text-align    : left;
  vertical-align: middle;
}






.entries-modal {
  margin    : 10px 0;
  text-align: center;
  .btn {
    color: $blue;
  }
}



.or {
  margin   : 15px 0;
  font-size: 17px;
}

.select-chosen,
.quick-add-chosen {
  display: none;
}






