@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";



//-------- GENERAL ----------//
* {
  color: $grey;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color        : $darkgrey;
  text-align   : center;
  font-family  : 'Quicksand', sans-serif;
  font-weight  : 300;
  font-size    : 48px;
  margin-bottom: 30px;
}

a, {
  color: $green;
  &:hover {
    color: $green;
  }
}

i {
  color: $green;
}

.button-wrapper {
  text-align: center;
}

.form-control:focus {
  border-color: #A4C773;
}



//--------- NAVBAR ----------//

a.navbar-brand:hover {
  opacity: .8;
}

.logo {
  height    : 28px;
  margin-top: -4px;
}

.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: $green;
}



//--------- PAGINATION -----------//
.pagination {
  .active span,
  .active span:hover {
    background-color: $blue;
    border-color    : $blue;
  }
  li a,
  li a:hover {
    color: $blue;
  }
}

.pagination-wrapper {
  text-align: center;
}



//--------- PAGE - INDEX --------//
.meal-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.meal-name {
  color: $green;
  font-weight: 300;
  margin-top : 10px;
}

.meal-picture-wrapper {
  text-align  : right;
  margin-top  : 15px;
  margin-right: 30px;
}

.meal-picture-index-page {
  height: 100px;
  border-radius: 5px;
}





//-------- PARTIAL - MEALS/FORM ---------//

h5.form-header {
  display    : inline-block;
  font-weight: bold;
}

.radio-button {
  font-weight : 400;
  padding-left: 10px;
}

#more-ingredients-button,
#more-directions-button {
  i {
    font-size: 16px;
    color    : $lightgrey;
    &:hover {
      color: $blue;
    }
  }
}

#submit-button-wrapper {
  text-align   : center;
  margin-top   : 10px;
  margin-bottom: 50px;
}

#error-messages-wrapper {
  padding: 0;
  i {
    color: $red;
  }
}

.error-messages {
  color: $red;
  text-align  : center;
  list-style  : none;
  padding-left: 0;
}

.field_with_errors {
  display: inline;
}






//-------- PAGE - SHOW ---------//

.jumbotron {
  opacity : .5;
  position: relative;
  background-size: cover;
  background-position: center;
  h1 {
    position: center;
    color: #fff;
    text-shadow: 1px 0 0  $greyoutline, 
                 0 -1px 0 $greyoutline, 
                 0 1px 0  $greyoutline, 
                 -1px 0 0 $greyoutline;
  }
}

#description {
  text-align   : center;
  margin-bottom: 30px;
  .description-button {
    display      : inline-block;
    padding      : 10px;
    margin-bottom: 10px;
    border       : 1px solid $blue;
    border-radius: 2px;
    i {
      color: $blue;
    }
  }
}

.servings {
  margin-bottom: 10px;
}

#ingredients {
  list-style   : none;
  text-align   : left;
  padding-left : 0;
  margin-bottom: 30px;
}

.ingredient-li {
  margin-bottom: 10px;
}

#directions {
  text-align   : left;
  list-style   : none;
  margin-bottom: 30px;
  li {
    margin-bottom: 5px;
  }
  .direction-counter {
    color  : $green;
    display: inline;
    margin-left : -15px;
    margin-right: 4px;
  }
  .direction-text {
    display: inline;
  }
}

.meal-picture-show-page {
  max-height   : 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cushion {
  margin-left: 20px;
}

.show-page-buttons {
  position: absolute;
  bottom  : 3px;
  right   : 3px;
  .btn {
    border-radius: 50%;
    border-color : $blue;
    padding      : 3px 8px;
    &:hover {
      border-color: $blue;
    }
    i {
      color: $blue;
    }
  }
}




//-------- PAGE - ENTRIES ---------//

.pager a {
  color: $blue;
}

.week-wrapper {
  display: flex;
  border-top   : 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  min-height: 200px;
}
.day-wrapper {
  border-right: 1px solid #ddd;
  align-items : stretch;
  &:first-child {
    border-left: 1px solid #ddd;
  }
  h4 {
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
    color: #a9a8a8;
  }
  h5 {
    font-size: 16px;
    font-weight: 300;
    margin: 20px 0 8px;
  }
}

.day-wrapper ul {
  list-style  : none;
  padding-left: 0;
}

.modal-link {
  margin-top: 7px;
  font-size : 16px;
  i {
    color: $blue;
    &:hover {
      opacity: .7;
    }
  }
}

.breakfast-list,
.lunch-list,
.dinner-list,
.snack-list {
  li, a, i {
    color    : $green;
    font-size: 13px;
  }
  li {
    background-color: #fbfbfb;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 4px;
  }
  li:hover {
    background-color: #f9f9f9;
    border-color: #f4f4f4;
    .nutrition li {
      background-color: #f9f9f9;
    }
  }
}

.toggleable {
  display: none;
  .nutrition {
    li {
    border: none;
    }
    i {
      padding: 2px 5px;
      font-size: 14px;
      text-align: center;
      color: $blue;
      &:hover {
        opacity: .8;
      }
    }
  }
}

.day-nutrition {
  border-top: 1px solid $lightgrey;
  margin-top: 30px;
  li {
    font-weight: 300;
  }
}






