$green    : #a1be95;
$blue     : #92aac7;
$red      : #a94442;
$grey     : #5b6b7e;
$darkgrey : #474e56;
$lightgrey: #bdc3c7;
$greyoutline: #585858;

// not being used yet:
// $pink  : #ffcab8;
// $yellow: #e2dfa2;