@import "bootstrap-sprockets";
@import "bootstrap";

$green: #16a085;
$grey : #403f3f;
$red  : #a94442;



//-------- GENERAL ----------//
* {
  color: $grey;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align   : center;
  font-family  : 'Lobster', cursive;
  font-size    : 48px;
  text-shadow  : 0 1px 0 #000;
  margin-bottom: 30px;
}

a, {
  color: $green;
  &:hover {
    color: $green;
  }
}

i {
  color: $green;
}

.button-wrapper {
  text-align: center;
}



//--------- NAVBAR ----------//
.logo {
  height    : 28px;
  margin-top: -4px;
}

.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: $green;
}



//--------- PAGINATION -----------//
.pagination {
  .active span,
  .active span:hover {
    background-color: $green;
    border-color    : $green;
  }
  li a,
  li a:hover {
    color: $green;
  }
}

.pagination-wrapper {
  text-align: center;
}



//--------- PAGE - INDEX --------//
.meal-wrapper {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.meal-name {
  color      : $green;
  font-weight: 300;
  margin-top : 10px;
}

.meal-picture-wrapper {
  text-align  : right;
  margin-top  : 15px;
  margin-right: 30px;
}

.meal-picture-index-page {
  height       : 100px;
  border-radius: 5px;
}



//-------- PARTIAL - MEALS/FORM ---------//
.radio-button {
  font-weight: 400;
  padding-left: 10px;
}

#submit-button-wrapper {
  text-align   : center;
  margin-top   : 10px;
  margin-bottom: 50px;
}

.form-control:focus {
  border-color: $green;
}

h5 {
  font-weight: bold;
}

#error-messages-wrapper {
  padding: 0;
  i {
    color: $red;
  }
}

.error-messages {
  color     : $red;
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.field_with_errors {
  display: inline;
}




//-------- PAGE - SHOW ---------//
#show-page {
  text-align: center;
}

#description {
  margin-bottom: 30px;
}

#ingredients {
  list-style : none;
  text-align : left;
  margin-left: 25px;
}

.ingredient-li {
  margin-bottom: 10px;
}

#directions {
  text-align: left;
}

.meal-picture-show-page {
  max-height   : 200px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cushion {
  margin-left: 20px;
}

//-------- PAGE - ENTRIES ---------//


#entries-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

.day-wrapper {
  min-height: 150px;
  &:nth-child(even) {
    background-color: #eee;
  }
  &:nth-child(odd) {
    background-color: #f9f9f9;
  }
}

.days-row {
  margin-bottom: 10px;
  h3 {
    font-weight: 300;
    margin-top: 5px;
  }
}

.meal-tag {
  margin-top: -10px;
  margin-bottom: 10px;
  text-decoration: underline;
  a:hover,
  a:focus {
    color: transparentize($green, 0.3);
  }
}

#entries-wrapper {
  ul {
    padding: 0;
    margin-bottom: 20px;
  }
  li {
    list-style: none;
  }
}







